{
  "openapi": "3.0.3",
  "info": {
    "title": "OhAPI Documentation",
    "description": "Interactive API documentation for OH's Media Generation APIs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.oh.xyz",
      "description": "Production API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/rooms": {
      "post": {
        "tags": [
          "Rooms"
        ],
        "summary": "Create Room",
        "description": "Create a new conversation room for a customer-character pair. The returned room_id should be used for all subsequent text, image, audio, and video requests.",
        "operationId": "createRoom",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/rooms', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY',\n    \n  },\n  body: JSON.stringify({\n    user_gender: 'male',\n    character_id: '154'\n  })\n});\n\nif (!response.ok) {\n  throw new Error(`Request failed: ${response.status}`);\n}\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST 'https://api.oh.xyz/api/v1/rooms' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -d '{\n    \"user_gender\": \"male\",\n    \"character_id\": \"154\"\n  }'"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl = 'https://api.oh.xyz/api/v1/rooms'\nheaders = {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY',\n    \n}\ndata = {\n    'user_gender': 'male',\n    'character_id': '154'\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nresponse.raise_for_status()\nprint(response.json())"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_gender",
                  "character_id"
                ],
                "properties": {
                  "user_gender": {
                    "type": "string",
                    "description": "Gender of the user (e.g., male, female)"
                  },
                  "character_id": {
                    "type": "string",
                    "description": "Unique identifier for the character/supermodel"
                  },
                  "texting_style": {
                    "type": "string",
                    "enum": [
                      "default",
                      "short-form",
                      "long-form"
                    ],
                    "description": "Optional reply register for this room. 'default' (used when omitted) keeps the existing production style; 'short-form' is a brief, punchy chat-speak register; 'long-form' is a warm, natural register. Can be changed later via PATCH /api/v1/rooms/{room_id}/texting-style."
                  }
                }
              },
              "example": {
                "user_gender": "male",
                "character_id": "154"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Room created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "room_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the created room"
                    }
                  }
                },
                "example": {
                  "room_id": "your-room-id-here"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rooms/{room_id}/texting-style": {
      "put": {
        "tags": [
          "Rooms"
        ],
        "summary": "Set Room Texting Style",
        "description": "Set the reply register for an existing room. 'default' keeps the production style every room starts with; 'short-form' is a brief, punchy chat-speak register; 'long-form' is a warm, natural register. Takes effect from the next generated reply (text and audio). Rooms created before this feature behave as 'default'.",
        "operationId": "replaceRoomTextingStyle",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/rooms/YOUR_ROOM_ID/texting-style', {\n  method: 'PUT',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY',\n    \n  },\n  body: JSON.stringify({\n    texting_style: 'long-form'\n  })\n});\n\nif (!response.ok) {\n  throw new Error(`Request failed: ${response.status}`);\n}\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "cURL",
            "source": "curl -X PUT 'https://api.oh.xyz/api/v1/rooms/YOUR_ROOM_ID/texting-style' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -d '{\n    \"texting_style\": \"long-form\"\n  }'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/rooms/YOUR_ROOM_ID/texting-style'\nheaders = {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY',\n    \n}\ndata = {\n    'texting_style': 'long-form'\n}\n\nresponse = requests.put(url, headers=headers, json=data)\nresponse.raise_for_status()\nprint(response.json())"
          }
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The room to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "texting_style"
                ],
                "properties": {
                  "texting_style": {
                    "type": "string",
                    "enum": [
                      "default",
                      "short-form",
                      "long-form"
                    ],
                    "description": "Reply register for the room. Applies from the next generated reply (text and audio)."
                  }
                }
              },
              "example": {
                "texting_style": "long-form"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Room updated; returns the room view including the new texting_style",
            "content": {
              "application/json": {
                "example": {
                  "room_id": "your-room-id-here",
                  "texting_style": "long-form"
                }
              }
            }
          },
          "400": {
            "description": "Invalid texting_style value"
          },
          "404": {
            "description": "Room not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Rooms"
        ],
        "summary": "Set Room Texting Style",
        "description": "Set the reply register for an existing room. 'default' keeps the production style every room starts with; 'short-form' is a brief, punchy chat-speak register; 'long-form' is a warm, natural register. Takes effect from the next generated reply (text and audio). Rooms created before this feature behave as 'default'.",
        "operationId": "updateRoomTextingStyle",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/rooms/YOUR_ROOM_ID/texting-style', {\n  method: 'PATCH',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY',\n    \n  },\n  body: JSON.stringify({\n    texting_style: 'long-form'\n  })\n});\n\nif (!response.ok) {\n  throw new Error(`Request failed: ${response.status}`);\n}\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "cURL",
            "source": "curl -X PATCH 'https://api.oh.xyz/api/v1/rooms/YOUR_ROOM_ID/texting-style' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -d '{\n    \"texting_style\": \"long-form\"\n  }'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/rooms/YOUR_ROOM_ID/texting-style'\nheaders = {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY',\n    \n}\ndata = {\n    'texting_style': 'long-form'\n}\n\nresponse = requests.patch(url, headers=headers, json=data)\nresponse.raise_for_status()\nprint(response.json())"
          }
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The room to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "texting_style"
                ],
                "properties": {
                  "texting_style": {
                    "type": "string",
                    "enum": [
                      "default",
                      "short-form",
                      "long-form"
                    ],
                    "description": "Reply register for the room. Applies from the next generated reply (text and audio)."
                  }
                }
              },
              "example": {
                "texting_style": "long-form"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Room updated; returns the room view including the new texting_style",
            "content": {
              "application/json": {
                "example": {
                  "room_id": "your-room-id-here",
                  "texting_style": "long-form"
                }
              }
            }
          },
          "400": {
            "description": "Invalid texting_style value"
          },
          "404": {
            "description": "Room not found"
          }
        }
      }
    },
    "/api/v1/text": {
      "post": {
        "tags": [
          "Text"
        ],
        "summary": "Generate Text",
        "description": "Generate a text response from the character in a specific room.",
        "operationId": "generateText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "room_id",
                  "prompt"
                ],
                "properties": {
                  "room_id": {
                    "type": "string",
                    "description": "Room ID from the create room endpoint"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "User's message or prompt"
                  }
                }
              },
              "example": {
                "room_id": "bcbb245f-ff8c-4f67-9fd6-7d0bd814d8e3",
                "prompt": "Tell me about your favorite travel destination"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "Generated text response from the character"
                    }
                  }
                },
                "example": {
                  "content": "Your generated text response will appear here"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/images": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Generate Image (Async)",
        "description": "Generate an image of the character. This is an asynchronous operation — submit the request, receive a job_id and presigned_url, then poll GET /api/v1/jobs/{job_id}/status until the job completes. The presigned_url will contain the generated image once the job status is \"completed\".",
        "operationId": "generateImage",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/images', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY'\n  },\n  body: JSON.stringify({\n    character_id: '154',\n    prompt: 'A stunning selfie at sunset on the beach',\n    prompt_enhancement: false,\n    resolution: '9:16'\n  })\n});\n\nconst data = await response.json();\nconst { job_id, presigned_url } = data;\nconsole.log('Job ID:', job_id);\nconsole.log('Download URL:', presigned_url);"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST 'https://api.oh.xyz/api/v1/images' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -d '{\n    \"character_id\": \"154\",\n    \"prompt\": \"A stunning selfie at sunset on the beach\",\n    \"prompt_enhancement\": false,\n    \"resolution\": \"9:16\"\n  }'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    'https://api.oh.xyz/api/v1/images',\n    headers={'Content-Type': 'application/json', 'x-api-key': 'YOUR_API_KEY'},\n    json={\n        'character_id': '154',\n        'prompt': 'A stunning selfie at sunset on the beach',\n        'prompt_enhancement': False,\n        'resolution': '9:16'\n    }\n)\nresult = response.json()\njob_id = result['job_id']\npresigned_url = result['presigned_url']\nprint('Job ID:', job_id)\nprint('Download URL:', presigned_url)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "character_id",
                  "prompt"
                ],
                "properties": {
                  "character_id": {
                    "type": "string",
                    "description": "Character identifier for generation"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description of the image to generate"
                  },
                  "prompt_enhancement": {
                    "type": "boolean",
                    "default": false,
                    "description": "When enabled, the system enhances your prompt using AI to improve image quality and detail. When disabled, your prompt is used as-is."
                  },
                  "user_gender": {
                    "type": "string",
                    "enum": [
                      "male",
                      "female"
                    ],
                    "description": "Gender of the user. Used to tailor the generated scene when prompt enhancement is enabled. If omitted, defaults to the opposite of the character's gender."
                  },
                  "resolution": {
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "minItems": 2,
                        "maxItems": 2,
                        "description": "Explicit [width, height] in pixels"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "9:16",
                          "16:9",
                          "1:1",
                          "4:3",
                          "3:4"
                        ],
                        "description": "Aspect ratio preset"
                      }
                    ],
                    "description": "Output resolution. Can be an aspect ratio string (\"9:16\", \"16:9\", \"1:1\", \"4:3\", \"3:4\") or an explicit [width, height] array. Aspect ratio presets map to: 9:16 → 720×1280, 16:9 → 1280×720, 1:1 → 1024×1024, 4:3 → 960×720, 3:4 → 720×960."
                  }
                }
              },
              "example": {
                "character_id": "154",
                "prompt": "A stunning selfie at sunset on the beach",
                "prompt_enhancement": false,
                "resolution": "9:16"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Image generation job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Status message"
                    },
                    "job_id": {
                      "type": "string",
                      "description": "Unique identifier for tracking job status"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status (processing, completed, failed)"
                    },
                    "presigned_url": {
                      "type": "string",
                      "description": "S3 presigned URL where the image will be available"
                    }
                  }
                },
                "example": {
                  "message": "Image generation started",
                  "job_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "processing",
                  "presigned_url": "https://s3.amazonaws.com/bucket/generated/image/154/2026-04/a1b2c3d4.png?X-Amz-..."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/jobs/{job_id}/status": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Check Job Status",
        "description": "Poll this endpoint to check the status of an asynchronous job (image generation or text-to-video). Use the job_id received from the generation response. For image-to-video jobs, use GET /api/v1/videos/get instead. Recommended polling interval: every 2–5 seconds, with a maximum timeout of 5 minutes.",
        "operationId": "getJobStatus",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "async function pollJob(jobId, apiKey, maxAttempts = 60) {\n  for (let i = 0; i < maxAttempts; i++) {\n    const response = await fetch(\n      `https://api.oh.xyz/api/v1/jobs/${jobId}/status`,\n      { headers: { 'x-api-key': apiKey } }\n    );\n    const data = await response.json();\n\n    if (data.status === 'completed') {\n      console.log('Download URL:', data.url);\n      return data;\n    }\n    if (data.status === 'failed') {\n      throw new Error(data.error || 'Job failed');\n    }\n\n    await new Promise(r => setTimeout(r, 3000));\n  }\n  throw new Error('Polling timed out');\n}"
          },
          {
            "lang": "cURL",
            "source": "curl -X GET 'https://api.oh.xyz/api/v1/jobs/{job_id}/status' \\\n  -H 'x-api-key: YOUR_API_KEY'"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport time\n\ndef poll_job(job_id, api_key, max_attempts=60):\n    url = f'https://api.oh.xyz/api/v1/jobs/{job_id}/status'\n    headers = {'x-api-key': api_key}\n\n    for _ in range(max_attempts):\n        data = requests.get(url, headers=headers).json()\n\n        if data['status'] == 'completed':\n            print('Download URL:', data['url'])\n            return data\n        if data['status'] == 'failed':\n            raise Exception(data.get('error', 'Job failed'))\n\n        time.sleep(3)\n\n    raise TimeoutError('Polling timed out')"
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The job ID returned from image generation request"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "description": "The job identifier"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "completed",
                        "failed"
                      ],
                      "description": "Current job status"
                    },
                    "url": {
                      "type": "string",
                      "nullable": true,
                      "description": "Presigned download URL for the generated content. Only present when status is \"completed\"."
                    },
                    "results": {
                      "type": "object",
                      "nullable": true,
                      "description": "Additional result data. May contain \"image_prompt\" (the enhanced prompt that was used) when prompt_enhancement was enabled.",
                      "properties": {
                        "image_prompt": {
                          "type": "string",
                          "description": "The enhanced prompt that was actually used for generation (only present if prompt_enhancement was enabled)"
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "description": "Error message. Only present when status is \"failed\"."
                    }
                  }
                },
                "examples": {
                  "queued": {
                    "summary": "Job is queued",
                    "value": {
                      "job_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "queued",
                      "url": null,
                      "results": null,
                      "error": null
                    }
                  },
                  "processing": {
                    "summary": "Job is being processed",
                    "value": {
                      "job_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "processing",
                      "url": null,
                      "results": null,
                      "error": null
                    }
                  },
                  "completed": {
                    "summary": "Job completed successfully",
                    "value": {
                      "job_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "completed",
                      "url": "https://s3.amazonaws.com/bucket/generated/image/154/2026-04/a1b2c3d4.png?X-Amz-...",
                      "results": {
                        "image_prompt": "A photograph of the character at sunset..."
                      },
                      "error": null
                    }
                  },
                  "failed": {
                    "summary": "Job failed",
                    "value": {
                      "job_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "failed",
                      "url": null,
                      "results": null,
                      "error": "Generation failed: timeout"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audio/notes": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Generate Audio Note",
        "description": "Generate an audio note from the character in a specific room.",
        "operationId": "generateAudio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "room_id",
                  "prompt"
                ],
                "properties": {
                  "room_id": {
                    "type": "string",
                    "description": "Room ID from the create room endpoint"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text for the character to speak"
                  }
                }
              },
              "example": {
                "room_id": "bcbb245f-ff8c-4f67-9fd6-7d0bd814d8e3",
                "prompt": "Tell me about your favorite travel destination"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Direct URL to the generated audio file"
                    }
                  }
                },
                "example": {
                  "url": "your-audio-url-here"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/eye_color": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Eye Color Terms",
        "description": "Retrieve available eye color options with their term IDs.",
        "operationId": "getEyeColorTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Green",
                    "tid": "233"
                  },
                  {
                    "name": "Brown",
                    "tid": "241"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/cam/create": {
      "post": {
        "tags": [
          "Interactive Cam Avatars"
        ],
        "summary": "Create Cam Avatar Session",
        "description": "Initialize avatar session with character UID. Returns webhook configuration and session details for handling real-time conversations.",
        "operationId": "createCamSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "character_uid",
                  "webhook_url"
                ],
                "properties": {
                  "character_uid": {
                    "type": "string",
                    "description": "Unique identifier for the character"
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Your REST endpoint URL to receive webhook events"
                  }
                }
              },
              "example": {
                "character_uid": "550e8400-e29b-41d4-a716-446655440000",
                "webhook_url": "https://your-domain.com/webhook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cam session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "description": "Unique session identifier"
                    },
                    "callback_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for sending proactive messages"
                    },
                    "status": {
                      "type": "string",
                      "description": "Session status"
                    }
                  }
                },
                "example": {
                  "session_id": "cam_abc123xyz",
                  "callback_url": "https://trulience.com/tglisten",
                  "status": "active"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cam/sessions": {
      "get": {
        "tags": [
          "Interactive Cam Avatars"
        ],
        "summary": "List Active Cam Sessions",
        "description": "Retrieve all active avatar sessions with pagination support.",
        "operationId": "listCamSessions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "session_id": {
                            "type": "string"
                          },
                          "character_uid": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "sessions": [
                    {
                      "session_id": "cam_abc123xyz",
                      "character_uid": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "active",
                      "created_at": "2024-01-15T10:30:00Z"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "limit": 10
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cam/sessions/{sessionId}": {
      "delete": {
        "tags": [
          "Interactive Cam Avatars"
        ],
        "summary": "End Cam Session",
        "description": "Manually terminate avatar session. Triggers cleanup and sends logout event to webhook.",
        "operationId": "endCamSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The session ID to terminate"
          }
        ],
        "responses": {
          "200": {
            "description": "Session ended successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "session_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Session ended successfully",
                  "session_id": "cam_abc123xyz"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/body_type": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Body Type Terms",
        "description": "Retrieve available body type options with their term IDs.",
        "operationId": "getBodyTypeTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Athletic",
                    "tid": "45"
                  },
                  {
                    "name": "Slim",
                    "tid": "46"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/gender": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Gender Terms",
        "description": "Retrieve available gender options with their term IDs.",
        "operationId": "getGenderTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Female",
                    "tid": "2"
                  },
                  {
                    "name": "Male",
                    "tid": "3"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/hair_color": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Hair Color Terms",
        "description": "Retrieve available hair color options with their term IDs.",
        "operationId": "getHairColorTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Blonde",
                    "tid": "12"
                  },
                  {
                    "name": "Brunette",
                    "tid": "13"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/orientation": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Orientation Terms",
        "description": "Retrieve available sexual orientation options with their term IDs.",
        "operationId": "getOrientationTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Straight",
                    "tid": "4"
                  },
                  {
                    "name": "Bisexual",
                    "tid": "5"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/ethnicity": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Ethnicity Terms",
        "description": "Retrieve available ethnicity options with their term IDs.",
        "operationId": "getEthnicityTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Asian",
                    "tid": "15"
                  },
                  {
                    "name": "Caucasian",
                    "tid": "16"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/breast_size": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Breast Size Terms",
        "description": "Retrieve available breast size options with their term IDs.",
        "operationId": "getBreastSizeTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Small",
                    "tid": "201"
                  },
                  {
                    "name": "Medium",
                    "tid": "202"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/interests": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Interests Terms",
        "description": "Retrieve available interests and passions with their term IDs.",
        "operationId": "getInterestsTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Art",
                    "tid": "90"
                  },
                  {
                    "name": "Music",
                    "tid": "91"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/kinks": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Kinks Terms",
        "description": "Retrieve available kinks and preferences with their term IDs.",
        "operationId": "getKinksTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Preference 1",
                    "tid": "301"
                  },
                  {
                    "name": "Preference 2",
                    "tid": "302"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/personality": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Personality Terms",
        "description": "Retrieve available personality trait options with their term IDs.",
        "operationId": "getPersonalityTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Adventurous",
                    "tid": "120"
                  },
                  {
                    "name": "Creative",
                    "tid": "121"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/traits": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get Traits Terms",
        "description": "Retrieve available traits and characteristics with their term IDs.",
        "operationId": "getTraitsTerms",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Confident",
                    "tid": "401"
                  },
                  {
                    "name": "Friendly",
                    "tid": "402"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/characters/generate": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Generate AI Character",
        "description": "Generates a new AI character in Postgres, creates S3 pre-signed URLs, and triggers ComfyUI reference image generation. Required fields: nationality, ethnicity, firstName, lastName, biography.",
        "deprecated": true,
        "operationId": "generateAiCharacter",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/characters/generate', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY'\n  },\n  body: JSON.stringify({\n    // Required fields\n    nationality: 'American',\n    ethnicity: 'Caucasian / White',\n    firstName: 'Emma',\n    lastName: 'Rose',\n    biography: 'A fun-loving college student who enjoys gaming and cosplay.',\n    // Optional fields\n    b2bClientId: 'your-b2b-client-id',\n    ohFunCreatorId: 'your-ohfun-creator-id',\n    dateOfBirth: '1995-06-15',\n    alias: 'EmmaGamer',\n    job: 'Part-time streamer',\n    whereYouLive: 'Los Angeles, CA',\n    gender: 'Female',\n    orientation: 'Bisexual',\n    sexualExperience: 'Experienced',\n    kinks: ['Roleplay', 'Light bondage', 'Praise kink'],\n    sexPositions: ['Cowgirl', 'Doggy style', 'Missionary'],\n    relationshipStyle: 'Monogamous girlfriend',\n    relationshipStatus: 'Single and looking',\n    interests: ['Gaming', 'Cosplay', 'Anime', 'Streaming'],\n    personality: 'Bubbly / genki',\n    sexDrive: 'High',\n    conversationStyle: 'Flirty & teasing',\n    attitude: 'Bubbly & cheerful',\n    height: \"5'6\\\"\",\n    bodyBuild: 'Slim',\n    bodyShape: 'Hourglass',\n    buttSize: 'Bubble butt',\n    hairLength: 'Long (mid-back to waist)',\n    hairColour: 'Blonde',\n    eyeColour: 'Blue',\n    skinTone: 'Light / Fair',\n    breastSize: 'C cup',\n    breastPertness: 'Perky',\n    nippleColour: 'Pink',\n    vaginaHair: 'Completely shaved / bald',\n    vaginaSize: 'Tight'\n  })\n});\n\nif (!response.ok) {\n  throw new Error(`Request failed: ${response.status}`);\n}\n\nconst data = await response.json();\nconsole.log('Character ID:', data.characterId);"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST 'https://api.oh.xyz/api/v1/characters/generate' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -d '{\n    \"nationality\": \"American\",\n    \"ethnicity\": \"Caucasian / White\",\n    \"firstName\": \"Emma\",\n    \"lastName\": \"Rose\",\n    \"biography\": \"A fun-loving college student who enjoys gaming and cosplay.\",\n    \"b2bClientId\": \"your-b2b-client-id\",\n    \"ohFunCreatorId\": \"your-ohfun-creator-id\",\n    \"dateOfBirth\": \"1995-06-15\",\n    \"alias\": \"EmmaGamer\",\n    \"job\": \"Part-time streamer\",\n    \"whereYouLive\": \"Los Angeles, CA\",\n    \"gender\": \"Female\",\n    \"orientation\": \"Bisexual\",\n    \"sexualExperience\": \"Experienced\",\n    \"kinks\": [\"Roleplay\", \"Light bondage\", \"Praise kink\"],\n    \"sexPositions\": [\"Cowgirl\", \"Doggy style\", \"Missionary\"],\n    \"relationshipStyle\": \"Monogamous girlfriend\",\n    \"relationshipStatus\": \"Single and looking\",\n    \"interests\": [\"Gaming\", \"Cosplay\", \"Anime\", \"Streaming\"],\n    \"personality\": \"Bubbly / genki\",\n    \"sexDrive\": \"High\",\n    \"conversationStyle\": \"Flirty & teasing\",\n    \"attitude\": \"Bubbly & cheerful\",\n    \"height\": \"5\\'6\\\"\",\n    \"bodyBuild\": \"Slim\",\n    \"bodyShape\": \"Hourglass\",\n    \"buttSize\": \"Bubble butt\",\n    \"hairLength\": \"Long (mid-back to waist)\",\n    \"hairColour\": \"Blonde\",\n    \"eyeColour\": \"Blue\",\n    \"skinTone\": \"Light / Fair\",\n    \"breastSize\": \"C cup\",\n    \"breastPertness\": \"Perky\",\n    \"nippleColour\": \"Pink\",\n    \"vaginaHair\": \"Completely shaved / bald\",\n    \"vaginaSize\": \"Tight\"\n  }'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/characters/generate'\nheaders = {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY'\n}\ndata = {\n    # Required fields\n    'nationality': 'American',\n    'ethnicity': 'Caucasian / White',\n    'firstName': 'Emma',\n    'lastName': 'Rose',\n    'biography': 'A fun-loving college student who enjoys gaming and cosplay.',\n    # Optional fields\n    'b2bClientId': 'your-b2b-client-id',\n    'ohFunCreatorId': 'your-ohfun-creator-id',\n    'dateOfBirth': '1995-06-15',\n    'alias': 'EmmaGamer',\n    'job': 'Part-time streamer',\n    'whereYouLive': 'Los Angeles, CA',\n    'gender': 'Female',\n    'orientation': 'Bisexual',\n    'sexualExperience': 'Experienced',\n    'kinks': ['Roleplay', 'Light bondage', 'Praise kink'],\n    'sexPositions': ['Cowgirl', 'Doggy style', 'Missionary'],\n    'relationshipStyle': 'Monogamous girlfriend',\n    'relationshipStatus': 'Single and looking',\n    'interests': ['Gaming', 'Cosplay', 'Anime', 'Streaming'],\n    'personality': 'Bubbly / genki',\n    'sexDrive': 'High',\n    'conversationStyle': 'Flirty & teasing',\n    'attitude': 'Bubbly & cheerful',\n    'height': '5\\'6\"',\n    'bodyBuild': 'Slim',\n    'bodyShape': 'Hourglass',\n    'buttSize': 'Bubble butt',\n    'hairLength': 'Long (mid-back to waist)',\n    'hairColour': 'Blonde',\n    'eyeColour': 'Blue',\n    'skinTone': 'Light / Fair',\n    'breastSize': 'C cup',\n    'breastPertness': 'Perky',\n    'nippleColour': 'Pink',\n    'vaginaHair': 'Completely shaved / bald',\n    'vaginaSize': 'Tight'\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nresponse.raise_for_status()\nresult = response.json()\nprint('Character ID:', result['characterId'])"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAiCharacterRequest"
              },
              "example": {
                "nationality": "American",
                "ethnicity": "Caucasian / White",
                "firstName": "Emma",
                "lastName": "Rose",
                "biography": "A fun-loving college student who enjoys gaming and cosplay.",
                "b2bClientId": "your-b2b-client-id",
                "ohFunCreatorId": "your-ohfun-creator-id",
                "dateOfBirth": "1995-06-15",
                "alias": "EmmaGamer",
                "job": "Part-time streamer",
                "whereYouLive": "Los Angeles, CA",
                "gender": "Female",
                "orientation": "Bisexual",
                "sexualExperience": "Experienced",
                "kinks": [
                  "Roleplay",
                  "Light bondage",
                  "Praise kink"
                ],
                "sexPositions": [
                  "Cowgirl",
                  "Doggy style",
                  "Missionary"
                ],
                "relationshipStyle": "Monogamous girlfriend",
                "relationshipStatus": "Single and looking",
                "interests": [
                  "Gaming",
                  "Cosplay",
                  "Anime",
                  "Streaming"
                ],
                "personality": "Bubbly / genki",
                "sexDrive": "High",
                "conversationStyle": "Flirty & teasing",
                "attitude": "Bubbly & cheerful",
                "height": "5'6\"",
                "bodyBuild": "Slim",
                "bodyShape": "Hourglass",
                "buttSize": "Bubble butt",
                "hairLength": "Long (mid-back to waist)",
                "hairColour": "Blonde",
                "eyeColour": "Blue",
                "skinTone": "Light / Fair",
                "breastSize": "C cup",
                "breastPertness": "Perky",
                "nippleColour": "Pink",
                "vaginaHair": "Completely shaved / bald",
                "vaginaSize": "Tight"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AI character generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the generation was successful"
                    },
                    "characterId": {
                      "type": "string",
                      "description": "Unique identifier for the generated character"
                    },
                    "character": {
                      "type": "object",
                      "description": "The generated character details",
                      "properties": {
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "alias": {
                          "type": "string"
                        },
                        "biography": {
                          "type": "string"
                        },
                        "nationality": {
                          "type": "string"
                        },
                        "ethnicity": {
                          "type": "string"
                        },
                        "dateOfBirth": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "orientation": {
                          "type": "string"
                        },
                        "job": {
                          "type": "string"
                        },
                        "whereYouLive": {
                          "type": "string"
                        },
                        "relationshipStatus": {
                          "type": "string"
                        },
                        "interests": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "personality": {
                          "type": "string"
                        }
                      }
                    },
                    "images": {
                      "type": "object",
                      "description": "Generated character images",
                      "properties": {
                        "nsfw_image": {
                          "type": "string",
                          "description": "Pre-signed S3 URL for the NSFW image"
                        },
                        "sfw_image": {
                          "type": "string",
                          "description": "Pre-signed S3 URL for the SFW image"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "characterId": "550e8400-e29b-41d4-a716-446655440000",
                  "character": {
                    "firstName": "Emma",
                    "lastName": "Rose",
                    "alias": "EmmaGamer",
                    "biography": "A passionate gamer and content creator...",
                    "nationality": "American",
                    "ethnicity": "Caucasian",
                    "dateOfBirth": "1999-06-15",
                    "gender": "Female",
                    "orientation": "Bisexual",
                    "job": "Full-time streamer",
                    "whereYouLive": "Los Angeles, CA",
                    "relationshipStatus": "Single and looking",
                    "interests": [
                      "Gaming",
                      "Cosplay",
                      "Anime"
                    ],
                    "personality": "Bubbly / genki"
                  },
                  "images": {
                    "nsfw_image": "https://s3.amazonaws.com/bucket/nsfw/...",
                    "sfw_image": "https://s3.amazonaws.com/bucket/sfw/..."
                  },
                  "message": "Character generated successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/api/v1/characters/save": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Save AI Character to Drupal",
        "description": "Saves an AI character from Postgres to Drupal MySQL and updates the Postgres record with the Drupal ID. The characterId from the generate step is required.",
        "deprecated": true,
        "operationId": "saveAiCharacter",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/characters/save', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY'\n  },\n  body: JSON.stringify({\n    // Required field\n    characterId: '550e8400-e29b-41d4-a716-446655440000',\n    // Optional overrides\n    b2bClientId: 'your-b2b-client-id',\n    ohFunCreatorId: 'your-ohfun-creator-id',\n    firstName: 'Emma',\n    lastName: 'Rose',\n    biography: 'Updated biography for Emma.',\n    alias: 'EmmaGamer',\n    job: 'Full-time streamer',\n    whereYouLive: 'Miami, FL',\n    dateOfBirth: '1999-06-15',\n    gender: 'Female',\n    orientation: 'Bisexual',\n    relationshipStatus: 'Single and looking',\n    interests: ['Gaming', 'Cosplay', 'Anime', 'Beach'],\n    personality: 'Bubbly / genki',\n    typeOfCharacter: 'AI Girlfriend',\n    bodyType: 1,\n    eyeColor: 2,\n    hairColor: 3,\n    messagePrice: 0.50,\n    subscriptionPrice: 9.99,\n    uid: 12345\n  })\n});\n\nif (!response.ok) {\n  throw new Error(`Request failed: ${response.status}`);\n}\n\nconst data = await response.json();\nconsole.log('Drupal ID:', data.drupalId);"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST 'https://api.oh.xyz/api/v1/characters/save' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -d '{\n    \"characterId\": \"550e8400-e29b-41d4-a716-446655440000\",\n    \"b2bClientId\": \"your-b2b-client-id\",\n    \"ohFunCreatorId\": \"your-ohfun-creator-id\",\n    \"firstName\": \"Emma\",\n    \"lastName\": \"Rose\",\n    \"biography\": \"Updated biography for Emma.\",\n    \"alias\": \"EmmaGamer\",\n    \"job\": \"Full-time streamer\",\n    \"whereYouLive\": \"Miami, FL\",\n    \"dateOfBirth\": \"1999-06-15\",\n    \"gender\": \"Female\",\n    \"orientation\": \"Bisexual\",\n    \"relationshipStatus\": \"Single and looking\",\n    \"interests\": [\"Gaming\", \"Cosplay\", \"Anime\", \"Beach\"],\n    \"personality\": \"Bubbly / genki\",\n    \"typeOfCharacter\": \"AI Girlfriend\",\n    \"bodyType\": 1,\n    \"eyeColor\": 2,\n    \"hairColor\": 3,\n    \"messagePrice\": 0.50,\n    \"subscriptionPrice\": 9.99,\n    \"uid\": 12345\n  }'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/characters/save'\nheaders = {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY'\n}\ndata = {\n    # Required field\n    'characterId': '550e8400-e29b-41d4-a716-446655440000',\n    # Optional overrides\n    'b2bClientId': 'your-b2b-client-id',\n    'ohFunCreatorId': 'your-ohfun-creator-id',\n    'firstName': 'Emma',\n    'lastName': 'Rose',\n    'biography': 'Updated biography for Emma.',\n    'alias': 'EmmaGamer',\n    'job': 'Full-time streamer',\n    'whereYouLive': 'Miami, FL',\n    'dateOfBirth': '1999-06-15',\n    'gender': 'Female',\n    'orientation': 'Bisexual',\n    'relationshipStatus': 'Single and looking',\n    'interests': ['Gaming', 'Cosplay', 'Anime', 'Beach'],\n    'personality': 'Bubbly / genki',\n    'typeOfCharacter': 'AI Girlfriend',\n    'bodyType': 1,\n    'eyeColor': 2,\n    'hairColor': 3,\n    'messagePrice': 0.50,\n    'subscriptionPrice': 9.99,\n    'uid': 12345\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nresponse.raise_for_status()\nresult = response.json()\nprint('Drupal ID:', result['drupalId'])"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveAiCharacterRequest"
              },
              "example": {
                "characterId": "550e8400-e29b-41d4-a716-446655440000",
                "b2bClientId": "your-b2b-client-id",
                "ohFunCreatorId": "your-ohfun-creator-id",
                "firstName": "Emma",
                "lastName": "Rose",
                "biography": "Updated biography for Emma.",
                "alias": "EmmaGamer",
                "job": "Full-time streamer",
                "whereYouLive": "Miami, FL",
                "dateOfBirth": "1999-06-15",
                "gender": "Female",
                "orientation": "Bisexual",
                "relationshipStatus": "Single and looking",
                "interests": [
                  "Gaming",
                  "Cosplay",
                  "Anime",
                  "Beach"
                ],
                "personality": "Bubbly / genki",
                "typeOfCharacter": "AI Girlfriend",
                "bodyType": 1,
                "eyeColor": 2,
                "hairColor": 3,
                "messagePrice": 0.5,
                "subscriptionPrice": 9.99,
                "uid": 12345
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Character saved to Drupal successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the save was successful"
                    },
                    "characterId": {
                      "type": "number",
                      "description": "The character ID in Drupal"
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "characterId": 12345,
                  "message": "Character saved successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "404": {
            "description": "Character not found in Postgres"
          }
        }
      }
    },
    "/api/v1/characters/customer-characters": {
      "get": {
        "tags": [
          "Customer Library"
        ],
        "summary": "Get characters for the authenticated customer",
        "description": "Returns all saved characters for the authenticated customer, with SFW image URLs",
        "operationId": "getCustomerCharacters",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/characters/customer-characters', {\n  method: 'GET',\n  headers: {\n    'x-api-key': 'YOUR_API_KEY'\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "cURL",
            "source": "curl -X GET 'https://api.oh.xyz/api/v1/characters/customer-characters' \\\n  -H 'x-api-key: YOUR_API_KEY'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/characters/customer-characters'\nheaders = {\n    'x-api-key': 'YOUR_API_KEY'\n}\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer characters returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "characters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cid": {
                            "type": "number",
                            "description": "Character ID"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "job": {
                            "type": "string"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "Signed image URL"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "characters": [
                    {
                      "cid": 8671,
                      "firstName": "Rachel",
                      "lastName": "Walton",
                      "gender": "Female",
                      "job": "Model",
                      "image_url": "<signed-s3-url>"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/api/v1/digital-twins/customer-digital-twins": {
      "get": {
        "tags": [
          "Customer Library"
        ],
        "summary": "Get digital twins for the authenticated customer",
        "description": "Returns all saved digital twins for the authenticated customer",
        "operationId": "getCustomerDigitalTwins",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/digital-twins/customer-digital-twins', {\n  method: 'GET',\n  headers: {\n    'x-api-key': 'YOUR_API_KEY'\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "cURL",
            "source": "curl -X GET 'https://api.oh.xyz/api/v1/digital-twins/customer-digital-twins' \\\n  -H 'x-api-key: YOUR_API_KEY'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/digital-twins/customer-digital-twins'\nheaders = {\n    'x-api-key': 'YOUR_API_KEY'\n}\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer digital twins returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "digitalTwins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "characterId": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "alias": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "profilePhotoUrl": {
                            "type": "string",
                            "description": "Signed image URL"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "digitalTwins": [
                    {
                      "id": "a47a1352-af8a-4e4a-9b2f-1e9a180ef984",
                      "characterId": 9371,
                      "name": "Lisa Stunner",
                      "alias": "lisa",
                      "status": "active",
                      "profilePhotoUrl": "<signed-s3-url>"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/api/v1/customer-library": {
      "get": {
        "tags": [
          "Customer Library"
        ],
        "summary": "Get the authenticated customer's character library",
        "description": "Returns all saved characters and digital twins for the authenticated customer",
        "operationId": "getCustomerLibrary",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/customer-library', {\n  method: 'GET',\n  headers: {\n    'x-api-key': 'YOUR_API_KEY'\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "cURL",
            "source": "curl -X GET 'https://api.oh.xyz/api/v1/customer-library' \\\n  -H 'x-api-key: YOUR_API_KEY'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/customer-library'\nheaders = {\n    'x-api-key': 'YOUR_API_KEY'\n}\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer library returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "characters": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "digitalTwins": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "characters": [
                    {
                      "cid": 8671,
                      "firstName": "Rachel",
                      "lastName": "Walton",
                      "image_url": "<signed-s3-url>"
                    }
                  ],
                  "digitalTwins": [
                    {
                      "id": "a47a1352-af8a-4e4a-9b2f-1e9a180ef984",
                      "characterId": 9371,
                      "name": "Lisa Stunner",
                      "alias": "lisa",
                      "status": "active",
                      "profilePhotoUrl": "<signed-s3-url>"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/api/v1/characters/api-characters/{b2bClientId}": {
      "get": {
        "tags": [
          "Characters"
        ],
        "summary": "Get API characters for a B2B client",
        "description": "Returns all characters that have been saved to Drupal for a specific B2B client, with SFW image URLs",
        "deprecated": true,
        "operationId": "fetchB2bClientCharacters",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/characters/api-characters/your-b2b-client-id', {\n  method: 'GET',\n  headers: {\n    'x-api-key': 'YOUR_API_KEY'\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "cURL",
            "source": "curl -X GET 'https://api.oh.xyz/api/v1/characters/api-characters/your-b2b-client-id' \\\n  -H 'x-api-key: YOUR_API_KEY'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/characters/api-characters/your-b2b-client-id'\nheaders = {\n    'x-api-key': 'YOUR_API_KEY'\n}\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
          }
        ],
        "parameters": [
          {
            "name": "b2bClientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The B2B client ID to fetch characters for"
          }
        ],
        "responses": {
          "200": {
            "description": "List of characters with SFW images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cid": {
                        "type": "string",
                        "description": "Character ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Character name"
                      },
                      "gender": {
                        "type": "string",
                        "description": "Character gender"
                      },
                      "job": {
                        "type": "string",
                        "description": "Character job"
                      },
                      "dateOfBirth": {
                        "type": "string",
                        "format": "date",
                        "description": "Date of birth in YYYY-MM-DD format (optional)"
                      },
                      "level": {
                        "type": "string",
                        "description": "Character level"
                      },
                      "body_type": {
                        "type": "string",
                        "description": "Body type"
                      },
                      "breast_size": {
                        "type": "string",
                        "description": "Breast size (for female characters)"
                      },
                      "ethnicity": {
                        "type": "string",
                        "description": "Character ethnicity"
                      },
                      "eye_color": {
                        "type": "string",
                        "description": "Eye color"
                      },
                      "hair_length": {
                        "type": "string",
                        "description": "Hair length"
                      },
                      "hair_color": {
                        "type": "string",
                        "description": "Hair color"
                      },
                      "orientation": {
                        "type": "string",
                        "description": "Sexual orientation"
                      },
                      "kinks": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of kinks"
                      },
                      "personality": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Personality traits with descriptions"
                      },
                      "management": {
                        "type": "object",
                        "properties": {
                          "max_daily_text": {
                            "type": "number",
                            "description": "Maximum daily text messages"
                          },
                          "max_daily_image": {
                            "type": "number",
                            "description": "Maximum daily images"
                          }
                        }
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "loras": {
                            "type": "object",
                            "description": "LoRA model weights"
                          },
                          "model": {
                            "type": "string",
                            "description": "Image generation model (flux or sd)"
                          }
                        }
                      },
                      "image_url": {
                        "type": "string",
                        "description": "Profile image URL"
                      },
                      "character_type": {
                        "type": "string",
                        "description": "Type of character (e.g., original)"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "cid": "1",
                    "name": "Ava",
                    "gender": "Female",
                    "job": "Model",
                    "dateOfBirth": "2003-05-10",
                    "level": "L3",
                    "body_type": "Athletic",
                    "breast_size": "Large",
                    "ethnicity": "Caucasian",
                    "eye_color": "Green",
                    "hair_length": "Medium",
                    "hair_color": "Ginger",
                    "orientation": "Straight",
                    "kinks": [
                      "Being dominated",
                      "Office romance",
                      "Group sex"
                    ],
                    "personality": [
                      "Charming: Sprinkle in compliments that make {user} feel special.",
                      "Witty: Responses should be clever, concise, and surprising.",
                      "Subordinate: Responses should be respectful and deferential."
                    ],
                    "management": {
                      "max_daily_text": 3,
                      "max_daily_image": 3
                    },
                    "image": {
                      "loras": {
                        "female_face_1": 0.75,
                        "female_face_2": 0.75
                      },
                      "model": "flux"
                    },
                    "image_url": "https://d3mpf1svyo6ceu.cloudfront.net/char-profile-pics/screenshot-2025-03-07-at-15.52.23-large.png",
                    "character_type": "original"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/api/v1/characters/{characterId}": {
      "patch": {
        "tags": [
          "Characters"
        ],
        "summary": "Update Character",
        "description": "Partially update an existing character's attributes. Only include fields you want to change.",
        "operationId": "updateCharacter",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.oh.xyz/api/v1/characters/737', {\n  method: 'PATCH',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY'\n  },\n  body: JSON.stringify({\n    firstName: 'Sophia',\n    lastName: 'Martinez',\n    biography: 'A creative artist from Barcelona',\n    dateOfBirth: '1995-06-15'\n  })\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "cURL",
            "source": "curl -X PATCH 'https://api.oh.xyz/api/v1/characters/737' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -d '{\n    \"firstName\": \"Sophia\",\n    \"lastName\": \"Martinez\",\n    \"biography\": \"A creative artist from Barcelona\",\n    \"dateOfBirth\": \"1995-06-15\"\n  }'"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.oh.xyz/api/v1/characters/737'\nheaders = {\n    'Content-Type': 'application/json',\n    'x-api-key': 'YOUR_API_KEY'\n}\ndata = {\n    'firstName': 'Sophia',\n    'lastName': 'Martinez',\n    'biography': 'A creative artist from Barcelona',\n    'dateOfBirth': '1995-06-15'\n}\n\nresponse = requests.patch(url, headers=headers, json=data)\nprint(response.json())"
          }
        ],
        "parameters": [
          {
            "name": "characterId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the character (integer or UUID)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "integer": {
                "value": "737",
                "summary": "Integer ID"
              },
              "uuid": {
                "value": "123e4567-e89b-12d3-a456-426614174000",
                "summary": "UUID"
              }
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Character fields to update (all optional)",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Character fields to update. All fields are optional. Only include fields you want to change. Enum fields must use values from the allowed list — use the taxonomy endpoints to retrieve valid options.",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "Character's first name",
                    "example": "Sophia"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Character's last name",
                    "example": "Martinez"
                  },
                  "biography": {
                    "type": "string",
                    "description": "Character biography/backstory",
                    "example": "A creative artist from Barcelona with a passion for modern art"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Character alias/nickname",
                    "example": "Sophie"
                  },
                  "job": {
                    "type": "string",
                    "description": "Job title",
                    "example": "Photographer"
                  },
                  "whereYouLive": {
                    "type": "string",
                    "description": "Location where character lives",
                    "example": "Barcelona, Spain"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date",
                    "description": "Date of birth (ISO format: YYYY-MM-DD). Age will be calculated and must be 21+",
                    "example": "1995-06-15"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Character gender",
                    "example": "Female"
                  },
                  "nationality": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/nationality"
                  },
                  "ethnicity": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/ethnicity"
                  },
                  "height": {
                    "type": "string",
                    "description": "Character height",
                    "example": "5'7\""
                  },
                  "bodyBuild": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/bodyBuild"
                  },
                  "bodyShape": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/bodyShape"
                  },
                  "buttSize": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/buttSize"
                  },
                  "hairLength": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/hairLength"
                  },
                  "hairColour": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/hairColour"
                  },
                  "eyeColour": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/eyeColour"
                  },
                  "skinTone": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/skinTone"
                  },
                  "breastSize": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/breastSize"
                  },
                  "breastPertness": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/breastPertness"
                  },
                  "nippleColour": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/nippleColour"
                  },
                  "vaginaHair": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/vaginaHair"
                  },
                  "vaginaSize": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/vaginaSize"
                  },
                  "orientation": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/orientation"
                  },
                  "sexualExperience": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/sexualExperience"
                  },
                  "kinks": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/kinks"
                  },
                  "sexPositions": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/sexPositions"
                  },
                  "relationshipStyle": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/relationshipStyle"
                  },
                  "relationshipStatus": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/relationshipStatus"
                  },
                  "interests": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/interests"
                  },
                  "personality": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/personality"
                  },
                  "sexDrive": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/sexDrive"
                  },
                  "conversationStyle": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/conversationStyle"
                  },
                  "attitude": {
                    "$ref": "#/components/schemas/GenerateAiCharacterRequest/properties/attitude"
                  },
                  "voiceId": {
                    "type": "string",
                    "description": "S3 URI for the voice reference audio",
                    "example": "s3://oh-chatterbox-audio/abc123/reference.wav"
                  },
                  "audioSpeed": {
                    "type": "number",
                    "description": "Audio playback speed multiplier (0.5-2.0)",
                    "minimum": 0.5,
                    "maximum": 2,
                    "default": 0.5,
                    "example": 1
                  }
                }
              },
              "examples": {
                "basicUpdate": {
                  "summary": "Update name only",
                  "value": {
                    "firstName": "Sophia",
                    "lastName": "Martinez"
                  }
                },
                "physicalUpdate": {
                  "summary": "Update physical attributes",
                  "value": {
                    "hairColour": "Blonde",
                    "eyeColour": "Blue",
                    "bodyBuild": "Athletic",
                    "skinTone": "Light / Fair"
                  }
                },
                "personalityUpdate": {
                  "summary": "Update personality and preferences",
                  "value": {
                    "personality": "Flirty tease",
                    "attitude": "Confident boss babe",
                    "conversationStyle": "Flirty & teasing",
                    "interests": [
                      "Painting",
                      "Travel",
                      "Music"
                    ],
                    "kinks": [
                      "Roleplay",
                      "Light bondage"
                    ]
                  }
                },
                "voiceUpdate": {
                  "summary": "Update voice settings",
                  "value": {
                    "voiceId": "s3://oh-chatterbox-audio/abc123/reference.wav",
                    "audioSpeed": 1
                  }
                },
                "fullUpdate": {
                  "summary": "Update multiple fields",
                  "value": {
                    "firstName": "Sophia",
                    "lastName": "Martinez",
                    "biography": "A creative artist from Barcelona",
                    "dateOfBirth": "1995-06-15",
                    "nationality": "Spanish",
                    "ethnicity": "Mediterranean (Greek/Italian/Spanish)",
                    "hairColour": "Dark Brown",
                    "eyeColour": "Brown / Dark Brown",
                    "personality": "Confident boss babe",
                    "interests": [
                      "Painting",
                      "Travel",
                      "Music"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Character updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "characterId",
                    "updatedFields",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the update was successful",
                      "example": true
                    },
                    "characterId": {
                      "type": "integer",
                      "description": "ID of the updated character",
                      "example": 737
                    },
                    "updatedFields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of field names that were modified",
                      "example": [
                        "firstName",
                        "lastName",
                        "age"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable success message",
                      "example": "Character updated successfully. 3 field(s) modified."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "characterId": 737,
                  "updatedFields": [
                    "firstName",
                    "lastName"
                  ],
                  "message": "Character updated successfully. 2 field(s) modified."
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Validation failed: dateOfBirth must be a valid ISO date string"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error type",
                      "example": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Message": {
                      "type": "string",
                      "example": "User is not authorized to access this resource"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Character with ID 999 not found"
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    },
                    "error": {
[...]
